@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root{
    --main-color: #164c71;
    --second-color:  #1f70a8;
    --third-color:  #7eb5da;
    --gray:   #e2e6e8;
    --black:  #4c5256;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

main {
    min-height: 87vh;
    margin-top: 5rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--main-color);
    box-shadow: 0 0 1.5rem rgba(0,0,0,.5);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--gray);
}

.logo {
    color: var(--gray);
}

.list {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.list__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}
.list__item span {
    text-align: center;
    font-size: 1.5rem;
    width: 25%;
}

.box-container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 3rem;
}
.box-container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    flex-direction: column;
    background-color: var(--third-color);
    box-shadow: 0 0 .5rem rgba(0,0,0,.5);
}

.box-container .box p {
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
}

.box-container .box h2 {
    font-size: 2rem;
    color: white;
    font-weight: 600;
}

.btn {
    font-size: 1.3rem;
    padding: .3rem 1.5rem;
    outline: none;
}
